button.btn {
    width: 65px;
    height: 35px;
    border: none;
    border-radius: 8%;
    background-color: orange;
    color: white; 
    cursor: pointer;
    box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.4);
    transition: 0.2s all ease;
}

button.btn:hover {
    background-color: rgb(209, 139, 9);
}

button.clear {
    box-shadow: none;
    background: none;
    border: none;
    color: rgb(104, 104, 104);
    cursor: pointer;
    font-size: 8px;
}

button.clear:hover {
    background-color: var(--background-color);
    color: black;
}

button.quantity-controller,  button.delete-item {
    height: 25px;
    width: 25px;
    padding: 0;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
}

button.decrease {
    background-color: red;
}

button.decrease:hover {
    background-color: darkred;
}

button.increase {
    background-color: rgb(79, 238, 79);
}

button.increase:hover {
    background-color: green;
}

button.delete-item {
    background-color: rgb(242, 242, 242);
    color: darkorange;
}

button.delete-item:hover {
    background-color: rgb(205, 205, 205);
}

button.order {
    width: 90%;
    margin: auto;
    border-radius: 10px;
}