.cart {
    position: relative;
    width: 300px;
    background-color: white;
    box-shadow: -2px 0 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

.cart-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h2 {
        margin: 2px;
        /* padding: 3px; */
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    span {
        margin-left: 5px;
    }
}

.cart-item-list {
    height: 600px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.cart-item {
    height: 125px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h3 {
        color: darkorange;
        margin: 8px 0;
    }

    img {
        max-height: 125px;   
        display: inline-block;
    }

    .price {
        font-size: 14px; 
        font-weight: bold;
        text-align: center;
    }

    .size-weight {
        gap: 10px;
    }

    .size, .weight {
        font-size: 12px;    
        gap: 2px;
    }
}

.cart-item-info {
    width: 225px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: start;
    gap: 10px;
}

.price-quantity-controller-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6px;
    align-items: center;
}

.cart-summary {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    gap: 15px;
}

.summary {
    padding: 0 5px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    align-content: center;
    justify-content: space-between;
}