#pizza-list {
    position: relative;
    align-items: center;
    justify-items: center;
    width: 810px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 5px;
    margin: 5px auto;
}

.pizza-card {
    position: relative;
    width: 270px;
    height: 515px;
    padding: 5px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: white;    
    box-sizing: border-box;

    .caption {
        padding: 5px;
        /* padding-bottom: 0; */
        align-content: center;
        justify-content: center;
    }

    img {
        max-width: 250px;   
        display: block;
    }

    h3 {
        margin: 0;
        color: darkorange;
        font-weight: bold;
        font-size: 22px;
    }

    .category, .description, .price-info {
        margin: 1px;
    }

    .description {
        height: 70px;
        overflow-y: auto;
    }

    .category {
        font-size: 10px;
        color: #666;
    }

    .description {
        font-size: 14px;
    }

    .pizza-size-container {
        position: absolute;
        width: 250px;
        bottom: 5px;
        left: calc(55);
        display: flex;
        flex-direction: row; 
        justify-content: space-around;
    }

    .pizza-size {
        margin: 5px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .price {
        font-size: 16px; 
        font-weight: bold;
        text-align: center;
    }
}