.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: start;
}

.discount {
    position: fixed;
    left: 10px;
    bottom: 0;
}

.logo {
    position: absolute;
    left: 10px;
    top: 0;
}

.rect {
    width: 100px;
    height: 110px;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--rect-color); 
    color: white;
    font-size: 21px;
    line-height: 1.2;
    box-sizing: border-box;
}